<odoo>
    <data>
        <record id="action_keyboards" model="ir.actions.act_window">
            <field name="name">Keyboards Information</field>
            <field name="res_model">user.keyboard</field>
            <field name="view_mode">tree,form</field>
        </record>
        <menuitem id="menu_keyboard" name="Keyboards" action="action_keyboards" parent="base.menu_administration"/>
    </data>
</odoo>
        